@import "../../../helpers/variables.scss";

.select {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-radius: 16px;
  gap: 20px;
  border: 0.5px solid $liteGrayColor;
  background-color: $whiteColor;

  @include onPhone {
    margin-top: 20px;
    padding: 3px;
    gap: 13px;
  }

  &__container{
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid $grayscaleColor;
    background-color: $whiteColor;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $borderHoverColor;

    @include onPhone {
      padding: 6px 6px;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }

    &--selected {
      background-color: $yellow;
      color: $blackColor2;
    }
  }

    &--text {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; 
      color: $darkGrayColor;

      @include onPhone {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
      }
    }

    &--box {
      display: flex;
      flex-direction: row;
      gap: 16px;

      @include onPhone {
        gap: 8px;
      }
    }
  
  &__box {
    position: absolute;
    z-index: 1;
    padding: 10px 12px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: $whiteColor;
    width: 305px;
    margin-top: 8px;

    @include onPhone {
      width: calc(100vw - 80px);
      left: 50%;
      transform: translateX(-50%);
    }

    &--container {
      border-bottom: 0.5px solid $grayscaleColor;
    }
  }

  
  &__name {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;

    border-radius: 12px;
    color: $text2Color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include onPhone {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__target {
    border: none;
    background-color: $yellow;
    color: $whiteColor;
  }

  &__button {
    background-image: url("../../../img/MiniArrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 13px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    &--target {
      background-image: url("../../../img/HowerArrow.svg");
      width: 15px;
      height: 3px;
    }
  }

  &__container {
    height: max-content;
  }

  &__top {
    display: flex;
  }

  &__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    color: $text2Color;

    @include onPhone {
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; 
    }
  }

  &__apply {
    background-color: $yellow;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    padding: 13px;
    color: $whiteColor;
    flex-grow: 1;
    cursor: pointer;
  }

  &__cancel {
    background-color: $whiteColor;
    border-radius: 12px;
    border: 1px solid $liteGrayColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    color: $blackColor;
    flex-grow: 1;
    cursor: pointer;
    padding: 13px;
    margin-top: 12px;
  }

  &__flex {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__checkbox {
    display: flex;
    padding: 5px 0px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid $grayscaleColor;
  }
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 !important;
}