@import "../../../helpers/variables.scss";

.cardinChard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 24px;
  width: 636px;

  @include onPhone {
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    width: inherit;
    padding: 12px;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    cursor: pointer;
    

    @include onPhone {
      width: 140px;
      height: 140px;
    }
  }

  &__headCont {
    height: 419px;
    width: 419px;

    @include onPhone {
      width: 150px;
      height: 160px;
      max-width: inherit;
      justify-content: space-between;
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      align-items: center;
      padding-right: 16px;
    }
  }

  &__container {
    width: 100%;
    box-sizing: border-box;

    @include onDesktop {
      display: flex;
      flex-direction: column;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include onDesktop {
      margin: 24px 0;
    }
  }

  &__name {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $blackColor;

    @include onDesktop {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__price {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: $blackColor;

    @include onDesktop {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
    }
  }

  &__count {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;

    @include onDesktop {
      justify-content: flex-end;
    }

    &--button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      gap: 24px;
      border: 1px solid $darkWhiteColor;
      border-radius: 16px;

      @include onPhone {
        padding: 4px;
        border-radius: 8px;
        box-sizing: border-box;
        max-height: 50px;
      }
    }

    &--remove {
      display: flex;
      flex-direction: row;
      border: none;
      background-color: transparent;
      gap: 8px;
      cursor: pointer;

      &--dump {
        background-image: url("../../../img/Dump.svg");
        width: 14px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0;
      }

      &--text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        color: $gray4;
        margin: 0;
      }
    } 
  }

  &__miniCont {
    display: flex;
    gap: 9px;
    flex-direction: column;
    padding-left: 20px;

    @include onDesktop {
      flex-direction: row;
      align-items: center;
      padding-left: 0;
    }

    &--2 {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    &--border {
      padding-right: 20px;
      padding-left: 0;
      border-right: 1px solid $grayscaleColor;
    }
  }

  &__heightImg {
    background-image: url("../../../img/Hight.svg");
    width: 25px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  
  &__widthImg {
    background-image: url("../../../img/Width.svg");
    width: 25px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__number {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $darkYellow;
    margin: 0;
    
    @include onPhone {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; 
    }
  }

  &__slash {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    color: $text2Color;
    margin: 0 12px;
  }

  &__minicontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}