@import "../../../helpers/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  &__top {
    width: 413px;
    height: 419px;
    position: relative;

    @include onPhone {
      height: 150px;
      width: 140px;
    }
  }

  &__minicontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    height: 100%; 
    border-radius: 16px;
    cursor: pointer;
  }

  &__notLike {
    background-image: url("../../../img/Favorite.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 24px;
    background-size: contain;

    @include onPhone {
      left: 5px;
      bottom: 5px;
      width: 24px;
      height: 24px;
    }
  }

  &__like {
    background-position: center;
    width: 30px;
    height: 25px;
    background-image: url("../../../img/Liked.svg");
  }

  &__chart {
    width: 18px;
    height: 18px;
    background-image: url("../../../img/Chart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    @include onPhone {
      right: 5px;
      bottom: 5px;
      width: 11.6px;
      height: 12px;
    }

    &--cont {
      right: 20px;
      bottom: 24px;
      cursor: pointer;
      position: absolute;
      border: none;
      border-radius: 8px;
      background-color: $yellow;
      padding: 7px 11px;
      display: flex;
      align-items: center;

      @include onPhone {
        right: 5px;
        bottom: 8px;
        padding: 6px 9px;
      }
      
    &--select {
      background-color: #928A00;;
    }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    gap: 17px;
    cursor: pointer;

    @include onPhone {
      padding: 12px 10px;
      gap: 10px;
    }

    &--1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include onPhone {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 10px;
      }
    }

    &--2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include onPhone {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 12px;
      }
    }
  }

  &__size {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $gray4;
    margin: 0;

    @include onPhone {
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }

    &--img {
      display: flex;
      flex-direction: row;

      &--1 {
        background-image: url("../../../img/Hight.svg");
        width: 16px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0;
      }

      &--2 {
        background-image: url("../../../img/Width.svg");
        width: 16px;
        height: 13.333px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0;
      }
    }

    &--number {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      color: $gray4;
      margin: 0;

      @include onPhone {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }

  &__name {
    color: $blackColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 200px;
    margin: 0;

    @include onPhone {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; 
    }
  }

  &__price {
    color: $blackColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;

    @include onPhone {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }

  &__noAbsolute {
    position:inherit;

  }
}